<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>CatSoftwareStarter</Name>                                     <!-- 名称 -->
    <Version>1.2.0</Version>                                            <!-- 版本 -->
    <Title>CatSoftwareStarter</Title>                                   <!-- 安装界面显示的标题 -->
    <Publisher>graycatya</Publisher>                                     <!-- 所属公司，即公司名称 -->
    <ProductUrl>http://www.graycatya.com</ProductUrl>                     <!-- 软件URL地址 -->
    <InstallerWindowIcon>../Resource/logo.png</InstallerWindowIcon>        
    <InstallerApplicationIcon>app.ico</InstallerApplicationIcon>     <!-- 打包后的exe图标-->
    <!-- <Logo>../Resource/logo_1.png</Logo> -->
    <StartMenuDir>CatSoftwareStarter</StartMenuDir>
    <TargetDir>@homeDir@/CatSoftwareStarter</TargetDir>
    <AdminTargetDir>@ApplicationsDirX86/CatSoftwareStarter</AdminTargetDir>                               <!-- 安装路径-->
    <WizardStyle>Modern</WizardStyle>                                       <!-- 安装向导页面的样式,Modern(现代),Mac,Aero,Classic(经典)-->
    <AllowSpaceInPath>true</AllowSpaceInPath>                              <!-- 安装路径是否允许包含非ASCII字符-->
    <RepositorySettingsPageVisible>false</RepositorySettingsPageVisible>    <!-- 隐藏安装对话框中的 存储库设置页面-->
    <RunProgramDescription>CatSoftwareStarter</RunProgramDescription> <!-- 安装程序描述文本-->
    <MaintenanceToolName>MaintenanceTool</MaintenanceToolName>
    <RemoveTargetDir>false</RemoveTargetDir>
</Installer>