QWidget#SideWidget {
    background-color: #f3f3f3;
}

QPushButton#SideButton[State="Open"] {
    border-image: url(:/Images/CatWhite/SideOpenButton.png);
}

QPushButton#SideButton[State="Close"] {
    border-image: url(:/Images/CatWhite/SideCloseButton.png);
}