QLabel {
    color: #C1C1C1;
    font-size: 20px;
    font-family: "Ubuntu";
}

QComboBox {
    color: #C1C1C1;
    font-family: "Ubuntu";
    border: 1px solid #313131;
    background-color: #484848;
    border-radius: 3px;
    padding: 1px 18px 1px 3px;
    min-width: 150px;
    min-height: 30px;
}


QComboBox:editable {
    color: #C1C1C1;
    background: #484848;
}

QComboBox:!editable, QComboBox::drop-down:editable {
    border: 1px solid #313131;
    background: #484848;
}

/* 当弹出窗口打开时，QComboBox将处于“on”状态 */
QComboBox:!editable:on, QComboBox::drop-down:editable:on {
    border: 1px solid rgba(223,74,22,100%);
    background: #484848;
}

QComboBox:on { /* 当弹出窗口打开时，移动文本 */
    padding-top: 3px;
    padding-left: 4px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
    border-top-right-radius: 3px; /* 半径与QComboBox相同 */
    border-bottom-right-radius: 3px;
}

QComboBox::down-arrow {
    padding-right: 6px;
    image: url(:/Images/CatGray/PullDown.png);
}

QComboBox::down-arrow:on {
    padding-right: 6px;
    image: url(:/Images/CatGray/PullUp.png);
}

/*下拉项样式 背景蓝色*/
QListView#StyleComboBoxView {
    border: 1px solid #313131;
    background-color: #484848;
    outline:0px;
    font-family: "Ubuntu";
}
QListView#StyleComboBoxView::item {
    color: #C1C1C1;
    border: transparent;
    min-height: 25px;
    background-color: #484848;
}  

/*下拉项选中样式*/
QListView#StyleComboBoxView::item:selected { 
    color: #C1C1C1;
    border: transparent;
    background-color: rgba(223,74,22,100%);
}   

/*下拉项鼠标悬浮样式*/
QListView#StyleComboBoxView::item:hover { 
    color: #C1C1C1;
    border: transparent;
    background:#656565;
}

QWidget#WindowColorsWidget {
    border: 2px solid #2d2d2d;
    background-color: #343434;
    border-radius: 5px;
}

/* 滚动条 */
QScrollBar:vertical
{
    width:8px;
    background-color: transparent;
    margin:0px,0px,0px,0px;
    padding-top:0px;
    padding-bottom:0px;
}

QScrollBar::handle:vertical
{
    width:8px;
    background:rgba(130,130,130,50%);
    border-radius:4px;
    min-height:20;
}

QScrollBar::handle:vertical:hover
{
    width:8px;
    background:rgba(130,130,130,75%);
    border-radius:4px;
    min-height:20;
}

QScrollBar::handle:vertical:pressed
{
    width:8px;
    background:rgba(223,74,22,100%);
    border-radius:4px;
    min-height:20;
}

/* 上下箭头的边框 */
QScrollBar::add-line:vertical,QScrollBar::sub-line:vertical
{
    background: transparent;
    border: none;
}

/* 滚动条背景 */
QScrollBar::add-page:vertical,QScrollBar::sub-page:vertical
{
    width: 0px;
    background: transparent;
    border: none;
}

QScrollBar:horizontal
{
    height:8px;
    background-color: transparent;
    margin:0px,0px,0px,0px;
    padding-top:0px;
    padding-bottom:0px;
}

QScrollBar::handle:horizontal
{
    height:8px;
    background:rgba(130,130,130,50%);
    border-radius:4px;
    min-width:20;
}

QScrollBar::handle:horizontal:hover
{
    height:8px;
    background:rgba(130,130,130,75%);
    border-radius:4px;
    min-width:20;
}

QScrollBar::handle:horizontal:pressed
{
    height:8px;
    background:rgba(223,74,22,100%);
    border-radius:4px;
    min-width:20;
}


/* 左右箭头的边框 */
QScrollBar::add-line:horizontal,QScrollBar::sub-line:horizontal
{
    background: transparent;
    border: none;
}

/* 滚动条背景 */
QScrollBar::add-page:horizontal,QScrollBar::sub-page:horizontal
{
    height: 0px;
    background: transparent;
    border: none;
}

QPushButton#StartButton, QPushButton#SaveButton {
    min-width: 100px;
    min-height: 30px;
    max-height: 30px;
    border-radius: 5px;
    color: #C1C1C1;
    font-family: "Ubuntu";
    border: 1px solid gray;
    background-color: #272626;
}

QPushButton#StartButton:hover, QPushButton#SaveButton:hover {
    border: none;
    background-color: #353526;
    min-height: 30px;
    max-height: 30px;
    border: 1px solid gray;
}

QPushButton#StartButton:pressed, QPushButton#SaveButton:pressed {
    border: none;
    background-color: #353526;
    /*background-color: rgba(223,74,22,100%);*/
    border: 1px solid gray
}

QPushButton#StartButton:checked, QPushButton#SaveButton:checked {
    border: none;
    background-color: #353526;
    border: 1px solid rgba(223,74,22,100%);
}

QCatGrayQcustomplotCustomChart#ChartWidget {
    font-family: "Ubuntu";
    qproperty-Background: #686868;
    qproperty-LegendBorderColor: transparent;
    qproperty-LegendSelectBorderColor: rgba(223,74,22,60%);
    qproperty-LegendTextColor: white;
    qproperty-LegendSelectTextColor: rgba(223,74,22,100%);
    qproperty-LegendBackground: rgba(255,255,255,39%);
    qproperty-LegendSelectBackground: rgba(255,255,255,39%);
    qproperty-LegendSelectIconBordeColor: rgba(223,74,22,100%);

    qproperty-AxisBasePenColor_x: white;
    qproperty-Axis2BasePenColor_x: white;
    qproperty-AxisBasePenColor_y: white;
    qproperty-Axis2BasePenColor_y: white;
    qproperty-AxisTickPenColor_x: white;
    qproperty-Axis2TickPenColor_x: white;
    qproperty-AxisTickPenColor_y: white;
    qproperty-Axis2TickPenColor_y: white;
    qproperty-AxisSubTickPenColor_x: white;
    qproperty-Axis2SubTickPenColor_x: white;
    qproperty-AxisSubTickPenColor_y: white;
    qproperty-Axis2SubTickPenColor_y: white;
    qproperty-AxisGridPenColor_x: white;
    qproperty-Axis2GridPenColor_x: white;
    qproperty-AxisGridPenColor_y: white;
    qproperty-Axis2GridPenColor_y: white;
    qproperty-AxisTickLabelColor_x: white;
    qproperty-Axis2TickLabelColor_x: white;
    qproperty-AxisTickLabelColor_y: white;
    qproperty-Axis2TickLabelColor_y: white;

    qproperty-GraphSelectionDecoratorColor: rgba(223,74,22,100%);

    qproperty-AxisSelectedBasePenColor_x: rgba(223,74,22,100%);
    qproperty-Axis2SelectedBasePenColor_x: rgba(223,74,22,100%);
    qproperty-AxisSelectedBasePenColor_y: rgba(223,74,22,100%);
    qproperty-Axis2SelectedBasePenColor_y: rgba(223,74,22,100%);
    qproperty-AxisSelectedTickPenColor_x: rgba(223,74,22,100%);
    qproperty-Axis2SelectedTickPenColor_x: rgba(223,74,22,100%);
    qproperty-AxisSelectedTickPenColor_y: rgba(223,74,22,100%);
    qproperty-Axis2SelectedTickPenColor_y: rgba(223,74,22,100%);
    qproperty-AxisSelectedSubTickPenColor_x: rgba(223,74,22,100%);
    qproperty-Axis2SelectedSubTickPenColor_x: rgba(223,74,22,100%);
    qproperty-AxisSelectedSubTickPenColor_y: rgba(223,74,22,100%);
    qproperty-Axis2SelectedSubTickPenColor_y: rgba(223,74,22,100%);
    qproperty-AxisSelectedTickLabelColor_x: rgba(223,74,22,100%);
    qproperty-Axis2SelectedTickLabelColor_x: rgba(223,74,22,100%);
    qproperty-AxisSelectedTickLabelColor_y: rgba(223,74,22,100%);
    qproperty-Axis2SelectedTickLabelColor_y: rgba(223,74,22,100%);

    qproperty-TracerPenColor: rgba(223,74,22,70%);

    qproperty-TracerXTextPenColor: rgba(228,228,228, 100%);
    qproperty-TracerXTextColor: rgba(102,102,102, 100%);
    qproperty-TracerXTextBackgroundColor: rgba(247,247,247, 100%);

    qproperty-TracerYTextPenColor: rgba(228,228,228, 100%);
    qproperty-TracerYTextColor: rgba(102,102,102, 100%);
    qproperty-TracerYTextBackgroundColor: rgba(247,247,247, 100%);
    
}

QCheckBox {
    color: #C1C1C1;
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: bold;
}

QCheckBox::indicator {
    width: 20px;
    height: 20px;
}

QCheckBox::indicator:unchecked {
    image: url(":/Images/CatGray/CheckOff_gray.png");
}

QCheckBox::indicator:unchecked:hover {
    image: url(":/Images/CatGray/CheckOff_orange.png");
}

QCheckBox::indicator:checked {
    image: url(":/Images/CatGray/CheckOn_orange.png");
}