QPushButton {
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: #343434;
}

QPushButton:hover {
    border: none;
    background-color: #656565;
    border: 1px solid gray;
}

QPushButton:pressed {
    border: none;
    background-color: #757575;
    /*background-color: rgba(223,74,22,100%);*/
    border: 1px solid gray;
}

QPushButton:checked {
    border: none;
    background-color: #757575;
    border: 1px solid rgba(223,74,22,100%);
}

QPushButton#ScreenShotButton {
    qproperty-icon: url(:/Images/CatGray/ScreenShotTool.png);
    qproperty-iconSize: 48px 48px;
}

QPushButton#SpotLightButton {
    qproperty-icon: url(:/Images/CatGray/SpotLightTool.png);
    qproperty-iconSize: 48px 48px;
}

QPushButton#MagnifyingClassButton {
    qproperty-icon: url(:/Images/CatGray/MagnifyingGlassTool.png);
    qproperty-iconSize: 48px 48px;
}