QScrollArea#scrollArea {
    border: transparent;
    background-color: transparent;
}

QWidget#scrollAreaWidgetContents {
    background-color: transparent;
}

QWidget#SliderWidget {
    background-color: transparent;
}

QLabel {
	color: #C1C1C1;
	font-weight:bold;
    font-size: 24px;
    font-family: "Ubuntu";
}

/* 滚动条 */
QScrollBar:vertical
{
    width:8px;
    background-color: transparent;
    margin:0px,0px,0px,0px;
    padding-top:0px;
    padding-bottom:0px;
}

QScrollBar::handle:vertical
{
    width:8px;
    background:rgba(130,130,130,50%);
    border-radius:4px;
    min-height:20;
}

QScrollBar::handle:vertical:hover
{
    width:8px;
    background:rgba(130,130,130,75%);
    border-radius:4px;
    min-height:20;
}

QScrollBar::handle:vertical:pressed
{
    width:8px;
    background:rgba(223,74,22,100%);
    border-radius:4px;
    min-height:20;
}

/* 上下箭头的边框 */
QScrollBar::add-line:vertical,QScrollBar::sub-line:vertical
{
    background: transparent;
    border: none;
}

/* 滚动条背景 */
QScrollBar::add-page:vertical,QScrollBar::sub-page:vertical
{
    width: 0px;
    background: transparent;
    border: none;
}

QScrollBar:horizontal
{
    height:8px;
    background-color: transparent;
    margin:0px,0px,0px,0px;
    padding-top:0px;
    padding-bottom:0px;
}

QScrollBar::handle:horizontal
{
    height:8px;
    background:rgba(130,130,130,50%);
    border-radius:4px;
    min-width:20;
}

QScrollBar::handle:horizontal:hover
{
    height:8px;
    background:rgba(130,130,130,75%);
    border-radius:4px;
    min-width:20;
}

QScrollBar::handle:horizontal:pressed
{
    height:8px;
    background:rgba(223,74,22,100%);
    border-radius:4px;
    min-width:20;
}


/* 左右箭头的边框 */
QScrollBar::add-line:horizontal,QScrollBar::sub-line:horizontal
{
    background: transparent;
    border: none;
}

/* 滚动条背景 */
QScrollBar::add-page:horizontal,QScrollBar::sub-page:horizontal
{
    height: 0px;
    background: transparent;
    border: none;
}

QSlider#Slider0 {
    min-height: 25px;
}

/*默认背景*/
QSlider#Slider0::groove:horizontal {  
    /*border: 1px solid #bbb;  */
    padding-left: 1px;
    padding-right: 1px;
    background-color: transparent;
    height: 6px;
    border-radius: 3px;
}  

/*已滑动区域*/
QSlider#Slider0::sub-page:horizontal {  
    background: #773f72; 
    border: 1px solid #351c32;
    height: 6px;  
    border-radius: 3px;
}  

/*未滑动区域*/
QSlider#Slider0::add-page:horizontal {  
    background-color: #303030;
    border: 1px solid #222222;
    height: 6px;  
    border-radius: 3px;
}  

QSlider#Slider0::handle:horizontal {  
    background: #ffffff;  
    border: 4px solid #585858; 
    width: 6px;
    height: 6px; 
    margin-top: -4px;  
    margin-bottom: -4px;  
    margin-left: -1px;
    margin-right: -1px;
    border-radius: 7px;
}  


QSlider#Slider1 {
    min-height: 25px;
}

/*默认背景*/
QSlider#Slider1::groove:horizontal {  
    /*border: 1px solid #bbb;  */
    padding-left: 1px;
    padding-right: 1px;
    background-color: transparent;
    height: 6px;
    border-radius: 3px;
}  

/*已滑动区域*/
QSlider#Slider1::sub-page:horizontal {  
    background: #773f72; 
    border: 1px solid #351c32;
    height: 6px;  
    border-radius: 3px;
}  

/*未滑动区域*/
QSlider#Slider1::add-page:horizontal {  
    background-color: #303030;
    border: 1px solid #222222;
    height: 6px;  
    border-radius: 3px;
}  

QSlider#Slider1::handle:horizontal {  
    background: #585858;  
    border: 4px solid #585858; 
    width: 6px;
    height: 6px; 
    margin-top: -4px;  
    margin-bottom: -4px;  
    margin-left: -1px;
    margin-right: -1px;
    border-radius: 7px;
}  

QSlider#Slider1::handle:horizontal:hover {  
    background: rgba(223,74,22,100%);
    border: 4px solid rgba(223,74,22,100%);
    width: 6px;
    height: 6px; 
    margin-top: -4px;  
    margin-bottom: -4px;  
    margin-left: -1px;
    margin-right: -1px;
    border-radius: 7px;
}  

/*默认背景*/
QSlider#Slider2::groove:vertical {  
    /*border: 1px solid #bbb;  */
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: transparent;
    width: 6px;
    border-radius: 3px;
}  

/*已滑动区域*/
QSlider#Slider2::sub-page:vertical {  
    background-color: #303030;
    border: 1px solid #222222;
    width: 6px;  
    border-radius: 3px;
}  

/*未滑动区域*/
QSlider#Slider2::add-page:vertical {  
    background: #773f72; 
    border: 1px solid #351c32;
    width: 6px;  
    border-radius: 3px;
}  

QSlider#Slider2::handle:vertical {  
    background: #ffffff;  
    border: 4px solid #585858; 
    width: 6px;
    height: 6px; 
    margin-right: -4px;  
    margin-left: -4px;  
    margin-top: -1px;
    margin-bottom: -1px;
    border-radius: 7px;
}  


/*默认背景*/
QSlider#Slider3::groove:vertical {  
    /*border: 1px solid #bbb;  */
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: transparent;
    width: 6px;
    border-radius: 3px;
}  

/*已滑动区域*/
QSlider#Slider3::sub-page:vertical {  
    background-color: #303030;
    border: 1px solid #222222;
    width: 6px;  
    border-radius: 3px;
}  

/*未滑动区域*/
QSlider#Slider3::add-page:vertical {  
    background: #773f72; 
    border: 1px solid #351c32;
    width: 6px;  
    border-radius: 3px;
}  

QSlider#Slider3::handle:vertical {  
    background: #585858;  
    border: 4px solid #585858; 
    width: 6px;
    height: 6px; 
    margin-right: -4px;  
    margin-left: -4px;  
    margin-top: -1px;
    margin-bottom: -1px;
    border-radius: 7px;
}  

QSlider#Slider3::handle:vertical:hover {  
    background: rgba(223,74,22,100%);
    border: 4px solid rgba(223,74,22,100%);
    width: 6px;
    height: 6px; 
    margin-right: -4px;  
    margin-left: -4px;  
    margin-top: -1px;
    margin-bottom: -1px;
    border-radius: 7px;
}


RangeSlider {
    min-height: 25px;
}

/*默认背景*/
RangeSlider::groove:horizontal {  
    /*border: 1px solid #bbb;  */
    padding-left: 1px;
    padding-right: 1px;
    background-color: white;
    height: 6px;
    border-radius: 3px;
}  

/*已滑动区域*/
RangeSlider::sub-page:horizontal {  
    background: #773f72; 
    border: 1px solid #351c32;
    height: 6px;  
    border-radius: 3px;
}  

/*未滑动区域*/
RangeSlider::add-page:horizontal {  
    background-color: #303030;
    border: 1px solid #222222;
    height: 6px;  
    border-radius: 3px;
}  

RangeSlider::handle:horizontal {  
    background: #585858;  
    border: 4px solid #585858; 
    width: 6px;
    height: 6px; 
    margin-top: -4px;  
    margin-bottom: -4px;  
    margin-left: -1px;
    margin-right: -1px;
    border-radius: 7px;
}  

RangeSlider::handle:horizontal:hover {  
    background: rgba(223,74,22,100%);
    border: 4px solid rgba(223,74,22,100%);
    width: 6px;
    height: 6px; 
    margin-top: -4px;  
    margin-bottom: -4px;  
    margin-left: -1px;
    margin-right: -1px;
    border-radius: 7px;
}  

CatDoubleSlider {
    /*qproperty-SlideLeftOrTopWidth: 200;*/
    qproperty-SlideOrientationState: "CatDoubleSlider::SliderHorizontal";
    qproperty-MySliderStyle: "CatDoubleSlider::SliderRect";
}