QWidget#ListiongOptionsRootWidget {
    border: none;
    background-color: #272626;
}

QWidget#ButtonLists {
    border: none;
    background-color: transparent;
}

QPushButton#TeachingToolRuler {
    min-height: 60px;
    max-height: 60px;
    border-radius: 5px;
    border: 0px solid gray;
    background-color: #343434;
    qproperty-icon: url(:/Images/CatGray/Ruler.png);

    qproperty-iconSize: 48px 48px;
}

QPushButton#TeachingToolRuler:hover {
    border: none;
    background-color: rgba(223,74,22,100%);
    min-height: 60px;
    max-height: 60px;
    border: 1px solid gray;
    /*qproperty-minimumSize: 200px 40px;
    qproperty-maximumSize: 200px 40px;*/
}

QPushButton#TeachingToolRuler:pressed {
    border: none;
    background-color: rgba(223,74,22,100%);
    min-height: 60px;
    max-height: 60px;
    border: 3px solid gray;
    /*qproperty-minimumSize: 200px 40px;
    qproperty-maximumSize: 200px 40px;*/
}


QPushButton#TeachingToolTrangle {
    min-height: 60px;
    max-height: 60px;
    border-radius: 5px;
    border: 0px solid gray;
    background-color: #343434;
    qproperty-icon: url(:/Images/CatGray/Trangle.png);
    qproperty-iconSize: 48px 48px;
}

QPushButton#TeachingToolTrangle:hover {
    border: none;
    background-color: rgba(223,74,22,100%);
    min-height: 60px;
    max-height: 60px;
    border: 1px solid gray;
    /*qproperty-minimumSize: 200px 40px;
    qproperty-maximumSize: 200px 40px;*/
}

QPushButton#TeachingToolTrangle:pressed {
    border: none;
    background-color: rgba(223,74,22,100%);
    min-height: 60px;
    max-height: 60px;
    border: 3px solid gray;
    /*qproperty-minimumSize: 200px 40px;
    qproperty-maximumSize: 200px 40px;*/
}

QPushButton#TeachingToolProtractor {
    min-height: 60px;
    max-height: 60px;
    border-radius: 5px;
    border: 0px solid gray;
    background-color: #343434;
    qproperty-icon: url(:/Images/CatGray/Protractor.png);
    qproperty-iconSize: 48px 48px;
}

QPushButton#TeachingToolProtractor:hover {
    border: none;
    background-color: rgba(223,74,22,100%);
    min-height: 60px;
    max-height: 60px;
    border: 1px solid gray;
    /*qproperty-minimumSize: 200px 40px;
    qproperty-maximumSize: 200px 40px;*/
}

QPushButton#TeachingToolProtractor:pressed {
    border: none;
    background-color: rgba(223,74,22,100%);
    min-height: 60px;
    max-height: 60px;
    border: 3px solid gray;
    /*qproperty-minimumSize: 200px 40px;
    qproperty-maximumSize: 200px 40px;*/
}

QPushButton#TeachingToolCompass {
    min-height: 60px;
    max-height: 60px;
    border-radius: 5px;
    border: 0px solid gray;
    background-color: #343434;
    qproperty-icon: url(:/Images/CatGray/Compass.png);
    qproperty-iconSize: 48px 48px;
}

QPushButton#TeachingToolCompass:hover {
    border: none;
    background-color: rgba(223,74,22,100%);
    min-height: 60px;
    max-height: 60px;
    border: 1px solid gray;
    /*qproperty-minimumSize: 200px 40px;
    qproperty-maximumSize: 200px 40px;*/
}

QPushButton#TeachingToolCompass:pressed {
    border: none;
    background-color: rgba(223,74,22,100%);
    min-height: 60px;
    max-height: 60px;
    border: 3px solid gray;
    /*qproperty-minimumSize: 200px 40px;
    qproperty-maximumSize: 200px 40px;*/
}

QScrollArea#ListingOptionsScroll {
    border: none;
    background-color: transparent;
}

/* 滚动条 */
QScrollBar:vertical
{
    width:4px;
    background-color: transparent;
    margin:0px,0px,0px,0px;
    padding-top:0px;
    padding-bottom:0px;
}

QScrollBar::handle:vertical
{
    width:4px;
    background:rgba(130,130,130,50%);
    border-radius:2px;
    min-height:20;
}
QScrollBar::handle:vertical:hover
{
    width:4px;
    background:rgba(130,130,130,75%);
    border-radius:2px;
    min-height:20;
}

QScrollBar::add-page:vertical,QScrollBar::sub-page:vertical
{
    background:rgba(0,0,0,0%);
    border-radius:2px;
}