QWidget#WinWidget {
    background-color: transparent;
}

QWidget#WinRootWidget {
    border: none;
    border-radius: 2px;
    background-color: rgba(130, 130, 130, 20%);
}

QWidget#TopWidget {
    background-color: #3C3C3C;
}

QWidget#ToolListWidget {
    background-color: #252526;
    max-width: 200;
    min-width: 200;
}

QWidget#ExhibitionWidget {
    background-color: #1E1E1E;
}

QWidget#BottomWidget {
    background-color: #007ACC;
}

ListiongOptions {
    border-radius: 0px;
    background-color: transparent;
}

/*
QWidget#WidgetFunc {
    background-color: saddlebrown;
}

QWidget#GraphicsViewFunc {
    background-color: salmon;
}
*/