#include "winver.h"

IDI_ICON1       ICON      "Resource/Images/applogo.ico"
IDI_ICON2       ICON      "Resource/Images/applogo.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    1,2,0,0
 PRODUCTVERSION 1,2,0,0
 FILEFLAGS      0x0L
 FILEFLAGSMASK  0x3fL
 FILEOS         VOS_NT_WINDOWS32
 FILETYPE       VFT_APP
 FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "GrayCatYa"
            VALUE "FileDescription", "CatQuickExamples"
            VALUE "FileVersion", "1.2.0.0"
            VALUE "LegalCopyright", "Copyright (C) 2022 GrayCatYa"
            VALUE "InternalName", "CatQuickExamples"
            VALUE "OriginalFilename", "CatQuickExamples"
            VALUE "ProductName", "CatQuickExamples"
            VALUE "ProductVersion", "1.2.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END