/*
QTabWidget::pane{
	border:none;
}

QTabWidget::tab-bar{
        alignment:left;
}

QTabBar::tab{
	background:transparent;
	color:white;
	min-width:30ex;
	min-height:10ex;
}

QTabBar::tab:hover{
	background:rgba(255, 255, 255, 100%);
}

QTabBar::tab:selected{
	border-color: white;
	background:white;
	color:green;
}*/

QWidget#AboutWidget {
    background-color: #fafafa;
    border: 2px solid #dddddd;
    border-radius: 4px;
}
QWidget#LicenceWidget {
    background-color: #fafafa;
    border: 2px solid #dddddd;
    border-radius: 4px;
}
QWidget#ContextWidget {
    background-color: #fafafa;
    border: 2px solid #dddddd;
    border-radius: 4px;
}


QTabWidget::pane {
	border-radius: 4px;
	background-color: #ffffff;
}

QTabWidget::tab-bar{
	background-color: #ffffff;
	border-width:0px;
}

QTabWidget {
	font-family: "Ubuntu";
}

QTabBar::tab{
	border-bottom-color: #424242;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	max-width: 75px; 
	min-width:75px; 
	min-height:25px;
	font:14px;
	padding: 0px;
}

QTabBar::scroller {
	width: 25px;
	border:0;
	padding: 0px;
	color: #424242;
}

QTabBar QToolButton {
	border: 0px;
}

QTabBar QToolButton::right-arrow {
    border: 1px solid #e4e4e4;
    background-color: #fcfcfc;
	image: url(:/Images/CatWhite/AboutRightArrow.png);
	border-radius: 1px;
}

QTabBar QToolButton::right-arrow:hover {
	background-color: #f6f6f6;
}

QTabBar QToolButton::right-arrow:disabled {
	background-color: #f6f6f6;
}

QTabBar QToolButton::left-arrow {
    border: 1px solid #e4e4e4;
    background-color: #fcfcfc;
	image: url(:/Images/CatWhite/AboutLeftArrow.png);
	border-radius: 1px;
}

QTabBar QToolButton::left-arrow:hover {
	background-color: #f6f6f6;
}

QTabBar QToolButton::left-arrow:disabled {
	background-color: #f6f6f6;
}

QTabBar::tab:first:selected {
	color: rgba(223,74,22,100%);
	border-bottom: 2px solid rgba(223,74,22,100%);
}

QTabBar::tab:first:!selected {
	color: #424242;
	
}

QTabBar::tab:first:hover:!selected {
	color: #424242;
	border-bottom: 2px solid #424242;
}

QTabBar::tab:middle:selected {
	color: rgba(223,74,22,100%);
	border-bottom: 2px solid rgba(223,74,22,100%);

}

QTabBar::tab:middle:!selected {
	color: #424242;;
}

QTabBar::tab:middle:hover:!selected {
	color: #424242;
	border-bottom: 2px solid #424242;
}

QTabBar::tab:last:selected {
	color: rgba(223,74,22,100%);
	border-bottom: 2px solid rgba(223,74,22,100%);
}
QTabBar::tab:last:!selected {
	color: #424242;;
}
							 
QTabBar::tab:last:hover:!selected {
	color: #424242;
	border-bottom: 2px solid #424242;
}

QTabBar::tab:only-one {
	margin: 0;
}



/* 滚动条 */
QScrollBar:vertical
{
    width:8px;
    background-color: transparent;
    margin:0px,0px,0px,0px;
    padding-top:0px;
    padding-bottom:0px;
}

QScrollBar::handle:vertical
{
    width:8px;
    background:rgba(130,130,130,50%);
    border-radius:4px;
    min-height:20;
}

QScrollBar::handle:vertical:hover
{
    width:8px;
    background:rgba(130,130,130,75%);
    border-radius:4px;
    min-height:20;
}

QScrollBar::handle:vertical:pressed
{
    width:8px;
    background:rgba(223,74,22,100%);
    border-radius:4px;
    min-height:20;
}

/* 上下箭头的边框 */
QScrollBar::add-line:vertical,QScrollBar::sub-line:vertical
{
    background: transparent;
    border: none;
}

/* 滚动条背景 */
QScrollBar::add-page:vertical,QScrollBar::sub-page:vertical
{
    width: 0px;
    background: transparent;
    border: none;
}

QScrollBar:horizontal
{
    height:8px;
    background-color: transparent;
    margin:0px,0px,0px,0px;
    padding-top:0px;
    padding-bottom:0px;
}

QScrollBar::handle:horizontal
{
    height:8px;
    background:rgba(130,130,130,50%);
    border-radius:4px;
    min-width:20;
}

QScrollBar::handle:horizontal:hover
{
    height:8px;
    background:rgba(130,130,130,75%);
    border-radius:4px;
    min-width:20;
}

QScrollBar::handle:horizontal:pressed
{
    height:8px;
    background:rgba(223,74,22,100%);
    border-radius:4px;
    min-width:20;
}


/* 左右箭头的边框 */
QScrollBar::add-line:horizontal,QScrollBar::sub-line:horizontal
{
    background: transparent;
    border: none;
}

/* 滚动条背景 */
QScrollBar::add-page:horizontal,QScrollBar::sub-page:horizontal
{
    height: 0px;
    background: transparent;
    border: none;
}

QWidget#Licence {
	background-color: transparent;
}

QTextEdit#LicenceTextEdit {
	color: #424242;
	border: none;
	background: transparent;
	font-family: "Ubuntu";
}

QTextBrowser#ThankTextBrowser {
	color: #424242;
	border: none;
	background: transparent;
	font-family: "Ubuntu";
}

QPushButton#Log {
	min-width: 150px;
	min-height: 150px;
	max-width: 150px;
	max-height: 150px;
	border-radius: 75px;
	background-color: #ffffff;
	qproperty-icon: url(:/Images/CatWhite/CatLearnQt.png);
	qproperty-iconSize: 100px 100px;
	border: 2px solid #dddddd;
}

QLabel#AppName {
	color: #424242;
	font-weight:bold;
	font-size: 24px;
	font-family: "Ubuntu";
}

QLabel#AppVersion {
	color: #424242;
	font-weight:bold;
	font-size: 24px;
	font-family: "Ubuntu";
}

QLabel#Author {
	color: #424242;
	font-weight:bold;
	font-size: 16px;
	font-family: "Ubuntu";
}

QLabel#AuthorName {
	color: #424242;
	font-weight:bold;
	font-size: 16px;
	font-family: "Ubuntu";
}

QLabel#Explain {
	color: #424242;
	background-color: transparent;
	border: 0px;
	font-size: 16px;
	font-family: "Ubuntu";
}

QPushButton#CodeChina {
	min-width: 40px;
	max-width: 40px;
	min-height: 40px;
	max-height: 40px;
    border: 1px solid #e4e4e4;
    background-color: #fcfcfc;
	border-radius: 4px;
	qproperty-icon: url(:/Images/CatWhite/CodeChina.png);
	qproperty-iconSize: 32px 32px;
}

QPushButton#CodeChina:hover {
	background-color: #dedede;
	border: 1px solid #424242;
}

QPushButton#CodeChina:checked {
	background-color: #dedede;
	border: 1px solid rgba(223,74,22,100%);
}

QPushButton#GitHub {
	min-width: 40px;
	max-width: 40px;
	min-height: 40px;
	max-height: 40px;
    border: 1px solid #e4e4e4;
    background-color: #fcfcfc;
	border-radius: 4px;
	qproperty-icon: url(:/Images/CatWhite/Github.png);
	qproperty-iconSize: 32px 32px;
}

QPushButton#GitHub:hover {
	background-color: #dedede;
	border: 1px solid #424242;
}

QPushButton#GitHub:checked {
	background-color: #dedede;
	border: 1px solid rgba(223,74,22,100%);
}

QPushButton#Gitee {
	min-width: 40px;
	max-width: 40px;
	min-height: 40px;
	max-height: 40px;
    border: 1px solid #e4e4e4;
    background-color: #fcfcfc;
	border-radius: 4px;
	qproperty-icon: url(:/Images/CatWhite/Gitee.png);
	qproperty-iconSize: 32px 32px;
}

QPushButton#Gitee:hover {
	background-color: #dedede;
	border: 1px solid #424242;
}

QPushButton#Gitee:checked {
	background-color: #dedede;
	border: 1px solid rgba(223,74,22,100%);
}