QPushButton {
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    background-color: #fcfcfc;
}

QPushButton:hover {
    border: none;
    background-color: #dedede;
    border: 1px solid #424242;
}

QPushButton:pressed {
    border: none;
    background-color: #dedede;
    /*background-color: rgba(223,74,22,100%);*/
    border: 1px solid rgba(223,74,22,100%);
}

QPushButton:checked {
    border: none;
    background-color: #dedede;
    border: 1px solid rgba(223,74,22,100%);
}

QPushButton#ScreenShotButton {
    qproperty-icon: url(:/Images/CatWhite/ScreenShotTool.png);
    qproperty-iconSize: 48px 48px;
}

QPushButton#SpotLightButton {
    qproperty-icon: url(:/Images/CatWhite/SpotLightTool.png);
    qproperty-iconSize: 48px 48px;
}

QPushButton#MagnifyingClassButton {
    qproperty-icon: url(:/Images/CatWhite/MagnifyingGlassTool.png);
    qproperty-iconSize: 48px 48px;
}