QLabel#Icon {
    /*background-color: #999999;*/
    border-image: url(:/Images/CatGray/CATicon.png);
    min-width: 22px;
    min-height: 22px;
    max-width: 22px;
    max-height: 22px;
}

QWidget#WinWidget {
    background-color: transparent;
}

QWidget#WinRootWidget {
    border: none;
    border-radius: 2px;
    /*background-color: rgba(130, 130, 130, 20%);*/
}

QWidget#TopWidget {
    background-color: #dedede;
}

QWidget#ToolListWidget {
    background-color: #ffffff;
    max-width: 200px;
    min-width: 200px;
}

QWidget#ExhibitionWidget {
    border-left: 2px solid #dddddd;
    background-color: #f7f7f7;
}

QWidget#BottomWidget {
    background-color: #007ACC;
}

ListiongOptions {
    border-radius: 0px;
    background-color: transparent;
}

QPushButton#MinimizeButton {
    min-width: 40px;
    max-width: 40px;
    min-height: 30px;
    border: none;
    background-color: transparent;
    qproperty-icon: url(:/Images/CatWhite/Minimize.png);
    qproperty-iconSize: 16px 16px;
}

QPushButton#MinimizeButton:hover {
    background-color: #c6c6c6;
}

QPushButton#MinimizeButton:pressed {
    background-color: transparent;
}

QPushButton#ZoomButton {
    min-width: 40px;
    max-width: 40px;
    min-height: 30px;
    border: none;
    background-color: transparent;
}

QPushButton#ZoomButton[State="Max"] {
    qproperty-icon: url(:/Images/CatWhite/MaximizeMin.png);
    qproperty-iconSize: 16px 16px;
}

QPushButton#ZoomButton[State="Min"] {
    qproperty-icon: url(:/Images/CatWhite/MaximizeMax.png);
    qproperty-iconSize: 16px 16px;
}

QPushButton#ZoomButton:hover {
    background-color: #c6c6c6;
}

QPushButton#ZoomButton:pressed {
    background-color: transparent;
}

QPushButton#CloseButton {
    min-width: 40px;
    max-width: 40px;
    min-height: 30px;
    border: none;
    background-color: transparent;
    qproperty-icon: url(:/Images/CatWhite/Close.png);
    qproperty-iconSize: 16px 16px;
}

QPushButton#CloseButton:hover {
    qproperty-icon: url(:/Images/CatWhite/Close_Gray.png);
    qproperty-iconSize: 16px 16px;
    background-color: #d71526;
}

QPushButton#CloseButton:pressed {
    qproperty-icon: url(:/Images/CatWhite/Close_Gray.png);
    qproperty-iconSize: 16px 16px;
    background-color: #d71526;
}

QLabel#Title {
    max-width: 200px;
    color: #333333;
}
/*
QWidget#WidgetFunc {
    background-color: saddlebrown;
}

QWidget#GraphicsViewFunc {
    background-color: salmon;
}
*/